---
coyote: 1
repo: {{.Name}}
type: {{.Type}}
stack: []
owners: ["@{{.User}}"]
standards: { profile: {{.Type}} }
---
# {{.Name}}
purpose|{{.Purpose}}
{{- if eq .Type "product"}}
run|coyote map
test|coyote map --check
{{- else}}
run|TODO: comando para correr
test|TODO: comando para probar
{{- end}}
