---
coyote: 1
repo: {{.Name}}
type: {{.Type}}
stack: []
owners: ["@{{.User}}"]
standards: { profile: {{.Type}} }
---
# {{.Name}}
purpose|{{.Purpose}}
run|TODO: comando para correr
test|TODO: comando para probar
